.mainbar{
    background-color: rebeccapurple;
    display: flex;
    padding: 10px;
}
#home{
    color: white;
    text-decoration: none;
    margin-left: 40%;
}
.logout{
    color: grren;
    list-style: none;
    font-weight: 600;
    margin-left: 47%;
    cursor: pointer;
}
.maincon{
    width: 1170%;
}